<template>
  <div class="content-wrapper">
    <div class="content-heading">Dashboard</div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Index Page mounted.");
  },
  data() {
    return {
      exmaplePage: "/example"
    };
  }
};
</script>
