<template>
  <div class="layout-container content-wrapper">
    <div class="container-fluid">
      <div
        v-if="loading === true"
        class="d-flex align-items-center justify-content-center"
        style="height: 400px"
      >
        <div class="square-spin">
          <div></div>
        </div>
      </div>
      <div v-if="loading === false">
        <div class="content-heading">
          <div>
            Plan #{{detailLayout.id}} Management
            <small>In lacinia tellus vitae nisl consectetur pellentesque.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <div class="card b" v-if="isShowConfig">
              <div class="card-body bb">
                <vue-json-pretty :data="dataJson" @click="handleClick"></vue-json-pretty>
              </div>
            </div>

            <div class="card b" v-if="isEditor === false">
              <div class="card-header">
                <div class="float-right mt-2">
                  <div class="badge" :class="{'badge-success': (detailLayout.status === 1), 'badge-warning': (detailLayout.status === 0)}">{{detailLayout.status === 1 ? 'Published' : 'Pending'}}</div>
                </div>
                <h4 class="my-2">
                  <span>Plan #{{detailLayout.id}}: {{detailLayout.name}}</span>
                </h4>
              </div>
              <div class="card-body bb bt">
                <a
                  class="inline"
                  href="#"
                  data-toggle="tooltip"
                  :data-title="user.name"
                  data-original-title
                  title
                >
                  <img class="rounded-circle thumb48" :src="user.avatar" :alt="user.name">
                </a>
              </div>
              <div class="card-body">
                <h4>Image</h4>
                <p><img :src="detailLayout.thumbs || '/img/logo.png'" :alt="detailLayout.name"></p>
              </div>
              <div class="card-body">
                <h4>Description</h4>
                <p>{{detailLayout.description}}</p>
                <p class="text-right">
                  <button v-on:click="changeModeView" class="btn btn-secondary" type="button">
                    <em class="icon-note"></em> Edit info plan
                  </button>
                </p>
              </div>
            </div>

            <div class="card b" v-if="isEditor">
              <div class="card-header">
                <h4 class="my-2">
                  <span>Edit plan #{{tmpData.id}}</span>
                </h4>
              </div>
              <div class="card-body">
                <fieldset>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Name:</label>
                    <div class="col-lg-10">
                      <input v-model="tmpData.name" class="form-control" type="text" placeholder="Product name..">
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Estimated Price:</label>
                    <div class="col-lg-10">
                      <input v-model="tmpData.estimated_price" class="form-control" type="text" placeholder="Estimated Price">
                      <small>{{tmpData.estimated_price | toCurrency}}</small>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Project:</label>
                    <div class="col-lg-10">
                      <b-form-select v-model="tmpData.project_id" :options="projectList" />
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Style:</label>
                    <div class="col-lg-10">
                      <b-form-select v-model="tmpData.style_id" :options="styleList" />
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Description:</label>
                    <div class="col-lg-10">
                      <textarea v-model="tmpData.description" class="form-control" cols="5" placeholder="Short description.."></textarea>
                    </div>
                  </div>
                </fieldset>
                <div class="text-right mt-3">
                  <button @click="isEditor = !isEditor" class="btn btn-warning" type="button">Discard</button>&nbsp;
                  <button @click="handleUpdateLayout" class="btn btn-success" type="button">Save</button>
                </div>
              </div>
            </div>

            <div class="card card-default">
              <div class="card-header">
                <!-- <div class="px-2 float-right badge badge-danger">0</div> -->
                <div class="px-2 mr-2 float-right badge badge-success">{{skus.length}}</div>
                <div class="card-title">List Model</div>
              </div>
              <!-- START list group-->
              <div
                class="slimScrollDiv"
                style="position: relative; overflow: hidden; width: auto; height: 180px;"
              >
                <div
                  class="list-group"
                  data-height="180"
                  data-scrollable
                  style="overflow: hidden; width: auto; height: 180px;overflow-y: auto;"
                >
                  <div
                    v-if="loadingSKU === true"
                    class="d-flex align-items-center justify-content-center loading-component"
                  >
                    <div class="ball-clip-rotate-multiple">
                        <div></div>
                        <div></div>
                    </div>
                  </div>
                  <!-- START list group item-->
                  <div class="list-group-item list-group-item-action" v-for="(sku, i) in filterSKUs" :key="'sku-' + i">
                    <div class="media" >
                      <img
                        class="align-self-start mx-2 circle thumb32"
                        :src="sku.image"
                        :alt="sku.key_name"
                      >
                      <div class="media-body text-truncate">
                        <p class="mb-1">
                          <strong class="text-primary">
                            <span class="circle bg-success circle-lg text-left"></span>
                            <span>{{sku.key_name}}</span>
                          </strong>
                        </p>
                      </div>
                      <div class="ml-auto">
                        <!-- <small class="text-muted ml-2">Edit</small> -->
                        <small class="text-muted ml-2 cursor-pointer" @click="handleRemoveSKU(sku)">Remove</small>
                      </div>
                    </div>
                  </div>
                  <!-- END list group item-->
                </div>
                <div
                  class="slimScrollBar"
                  style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 104.18px;"
                ></div>
                <div
                  class="slimScrollRail"
                  style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"
                ></div>
              </div>
              <!-- END list group-->
              <!-- START card footer-->
              <div class="card-footer">
                <div class="input-group">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Search model .."
                    v-model="searchSKU"
                    @change="handleFilterSKU"
                  >
                  <span class="input-group-btn">
                    <button class="btn btn-secondary btn-sm" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
              <!-- END card-footer-->
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card b">
              <div class="card-body bb">
                <div class="clearfix">
                  <!-- <div class="float-left">
                    <div class="btn-group mb-1"><button class="btn dropdown-toggle btn-primary" type="button" data-toggle="dropdown" aria-expanded="false">Status</button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start">
                          <a @click="changeStatusLayout(1)" class="dropdown-item cursor-pointer">Published</a>
                          <div class="dropdown-divider"></div>
                          <a @click="changeStatusLayout(0)" class="dropdown-item cursor-pointer">Pending</a>
                        </div>
                    </div>
                  </div> -->
                  <div class="float-right">
                    <button @click="goBack" class="btn btn-danger " type="button">Cancel</button>
                  </div>
                </div>
              </div>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <strong>Project</strong>
                    </td>
                    <td>{{lodash.get(detailLayout, 'project.name', '')}}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Style</strong>
                    </td>
                    <td>{{lodash.get(detailLayout, 'style.name', '')}}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Start date</strong>
                    </td>
                    <td>{{moment(detailLayout.created_at).format('DD/MM/YYYY')}}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Updated date</strong>
                    </td>
                    <td>{{moment(detailLayout.updated_at).format('DD/MM/YYYY')}}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Published date</strong>
                    </td>
                    <td>{{moment(detailLayout.published_at).format('DD/MM/YYYY')}}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Models</strong>
                    </td>
                    <td>{{detailLayout.total_models || 0}}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Estimated Price</strong>
                    </td>
                    <td>{{detailLayout.estimated_price | toCurrency}}

                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="text-right">
                <a class="btn btn-link" @click="isShowConfig = !isShowConfig">{{isShowConfig ? "Close" : "Open"}} config</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueJsonPretty from "vue-json-pretty";
import { ApiLayout, ApiUser, URLLayout, ApiProject, ApiStyle } from "../config";
export default {
  props: ["playoutid"],
  components: {
    VueJsonPretty,
  },
  mounted() {
    // console.log("layout detail Page mounted.", this.playoutid);
    window.axios.get(ApiLayout + "/" + this.playoutid).then(res => {
      this.detailLayout = res.data.data;

      this.converLessLayoutJson(this.detailLayout);

      window.axios.get(ApiUser + "/" + this.detailLayout.user_id).then(res2 => {
        this.user = res2.data.data;
        this.loading = false;
      });
    });

    window.axios.get(ApiProject).then(res => {
      this.projectList = (res.data.data).map(e => { return {
        value: e.id,
        text: e.name
      }});
      this.projectList.unshift({
        value: 0,
        text: 'Please Select Project'
      });
    });

    window.axios.get(ApiStyle).then(res => {
      this.styleList = (res.data.data).map(e => { return {
        value: e.id,
        text: e.name
      }});
      this.styleList.unshift({
        value: 0,
        text: 'Please Select Style'
      });
    });

    this.getListSKU();
  },
  data() {
    return {
      loadingSKU: false,
      skus: [],
      projectList: [],
      styleList: [],
      filterSKUs: [],
      user: {},
      detailLayout: {},
      tmpData: {},
      dataJson: {},
      loading: true,
      isEditor: false,
      isShowConfig: false,
      moment: window.moment,
      lodash: window._,
      searchSKU: ''
    };
  },
  methods: {
    getListSKU() {
      window.axios.get(`${ApiLayout}/${this.playoutid}/sku`).then(res => {
        this.skus = res.data.data;
        this.handleFilterSKU();
      });
    },
    converLessLayoutJson(detailLayout) {
      let data = {
        RoomId: _.get(detailLayout, "layout_json.RoomId", ""),
        UserId: _.get(detailLayout, "layout_json.UserId", ""),
        TTS: _.get(detailLayout, "layout_json.TTS", []).map(item => {
          return {
            Name: item.Name,
            ListTexture: item.ListTexture,
            ListMaterial: item.ListMaterial
          };
        }),
        Items: _.get(detailLayout, "layout_json.Items", []).map(item => {
          return {
            Name: item.Name,
            ListTexture: item.ListTexture,
            ListMaterial: item.ListMaterial
          };
        })
      };
      this.dataJson = data;
    },
    handleClick() {
      console.log("handleClick json");
    },
    handleUpdateLayout() {
      if (this.tmpData) {
        window.axios.put(ApiLayout +"/"+ this.detailLayout.id, this.tmpData).then(res => {
            this.detailLayout = res.data.data;
            this.tmpData = {};
            this.isEditor = false;
        }).catch(error => {
          const dataRes = error.response;
          const message = dataRes.data.message;
          console.error(message);
          swal("Error!", message, "error");
        });
      }
    },
    goBack() {
      window.location.href = URLLayout;
    },
    changeStatusLayout(status) {
      window.axios.put(ApiLayout +"/"+ this.detailLayout.id, {
        status
      }).then(res => {
        this.detailLayout = res.data.data;
      }).catch(error => {
        const dataRes = error.response;
        const message = dataRes.data.message;
        console.error(message);
        swal("Error!", message, "error");
      });
    },
    handleRemoveSKU(sku) {
      if (sku.key_name) {
        this.loadingSKU = true;
        window.axios.post(`${ApiLayout}/${this.playoutid}/remove-sku`, {
          key_name: sku.key_name
        }).then(res => {
            this.detailLayout = res.data.data;
            this.converLessLayoutJson(this.detailLayout);
            this.getListSKU();
            this.loadingSKU = false;
        }).catch(error => {
          const dataRes = error.response;
          const message = dataRes.data.message;
          console.error(message);
          swal("Error!", message, "error");
          this.loadingSKU = false;
        });
      }
    },
    handleFilterSKU() {
      this.filterSKUs = this.skus.filter(sku => sku.key_name.indexOf(this.searchSKU) >= 0 || this.searchSKU === '');
    },
    changeModeView() {
      this.isEditor = true;
      this.tmpData = {...this.detailLayout};
    }
  }
};
</script>
