<template>
  <div class="content-wrapper">
    <div class="content-heading">My Plans</div>
    <div class="list row">
      <div class="col-md-3 col-sm-4 col-xs-6 list__cell plan__cell">
        <div class="plan plan--new cursor-pointer" v-on:click="addNewPlan">
          <div class="plan__body">
            <div class="plan__add"></div>
          </div>
          <div class="plan__title text-center">Create new Plan</div>
        </div>
      </div>
      <plan-item
        v-for="plan in myPlans"
        :key="plan.id"
        :data="plan"
        :deletePlan="deletePlan"
        :updatePlan="updatePlan"
      />
    </div>
  </div>
</template>

<script>
import PlanItem from "../components/PlanItem";
import { ApiLayout } from "../config";
export default {
  components: {
    PlanItem
  },
  mounted() {
    window.axios.get(ApiLayout).then(res => {
      this.response = res.data;
      this.myPlans = res.data.data;
    });
  },
  data() {
    return {
      response: {},
      myPlans: []
    };
  },
  methods: {
    addNewPlan() {
      window.axios
        .post(ApiLayout, {
          name: "New " + Date.now(),
          image: null,
          layout_json: '{"name":"Layout New ' + Date.now() + '"}'
        })
        .then(res => {
          console.log(res);
          const newPlans = res.data;
          this.myPlans.unshift(newPlans);
        })
        .catch(error => {
          const dataRes = error.response;
          const message = dataRes.data.message;
          console.error(message);
          swal("Error!", message, "error");
        });
    },
    updatePlan(data) {
      window.axios
        .put(ApiLayout + "/" + data.id, {
          name: data.name
        })
        .then(res => {
          const i = _.findIndex(this.myPlans, { id: data.id });
          if (i >= 0) {
            this.myPlans[i] = data;
          }
        })
        .catch(error => {
          const dataRes = error.response;
          const message = dataRes.data.message;
          console.error(message);
          swal("Error!", message, "error");
        });
    },
    deletePlan(data) {
      swal({
        title: "Are you sure?",
        text: data.name + " deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          window.axios
            .delete(ApiLayout + "/" + data.id)
            .then(res => {
              console.log(res);
              swal("Poof! Your plan has been deleted!", {
                icon: "success"
              });
              const i = _.findIndex(this.myPlans, { id: data.id });
              if (i >= 0) {
                this.myPlans.splice(i, 1);
              }
              console.log(this.myPlans, i);
            })
            .catch(error => {
              const dataRes = error.response;
              const message = dataRes.data.message;
              console.error(message);
              swal("Error!", message, "error");
            });
        } else {
          swal("Your plan is safe!");
        }
      });
    }
  }
};
</script>
