<template>
  <div class="content-wrapper">
    <div class="content-heading justify-content-between">
      Projects
      <div class="">
        <b-btn
          variant="outline-info"
          class="btn-xs"
          @click.prevent="addNew"
        ><em class="fas fa-plus"></em> Add New</b-btn>
      </div>
    </div>
    <div
      v-if="loading === true"
      class="d-flex align-items-center justify-content-center"
      style="height: 400px"
    >
      <div class="square-spin">
        <div></div>
      </div>
    </div>
    <div class="card card-default" v-if="loading === false">
      <div class="card-body">
        <b-table responsive striped hover :items="projects" :fields="fields">
          <template slot="status" slot-scope="props">
            <span class="badge" :class="{'badge-success' : props.item.status === 1, 'badge-warning': props.item.status !== 1}">{{props.item.status === 1 ? 'Published': 'Pending'}}</span>
          </template>
          <template slot="image" slot-scope="props">
            <img :src="props.item.image" class="img-responsive" style="width: 50px;">
          </template>
          <template slot="action" slot-scope="props">
            <div>
              <b-btn
                variant="outline-info mr-2"
                class="btn-xs"
                @click.prevent="view(props.item)"
              ><em class="fa fa-edit"></em></b-btn>
              <!-- <b-btn
                variant="outline-info mr-2"
                class="btn-xs"
                @click.prevent="edit(props.item)"
              >edit</b-btn> -->
              <b-btn
                variant="outline-danger"
                class="btn-xs"
                @click.prevent="remove(props.item)"
              ><em class="fa fa-trash"></em></b-btn>
            </div>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>
<script>
import { ApiProject, URLProject } from "../config";
export default {
  components: {
  },
  mounted() {
    window.axios
      .get(ApiProject)
      .then(res => {
        this.projects = res.data.data;
        this.loading = false;
      })
      .catch(error => {
        const dataRes = error.response;
        const message = dataRes.data.message;
        console.error(message);
        swal("Error!", message, "error");
      });
  },
  data() {
    return {
      loading: true,
      projects: [],
      moment: window.moment,
      fields: [
        {
          key: "id",
          label: "ID",
          sortable: true
        },
        "name",
        "image",
        "status",
        "created_at",
        "action"
      ],
    };
  },
  methods: {
    view(data) {
      // console.log(data);
      window.location.href = URLProject + '/' + data.id;
    },
    edit(data) {
      // console.log(data);
    },
    remove(data) {
      swal({
        title: "Are you sure?",
        text: data.name + " deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          window.axios
            .delete(ApiProject + '/' + data.id)
            .then(res => {
              console.log(res);
              swal("Poof! Your project has been deleted!", {
                icon: "success"
              });
              const i = _.findIndex(this.projects, { id: data.id });
              if (i >= 0) {
                this.projects.splice(i, 1);
              }
              // console.log(this.projects, i);
            })
            .catch(error => {
              const dataRes = error.response;
              const message = dataRes.data.message;
              console.error(message);
              swal("Error!", message, "error");
            });
        } else {
          swal("Your project is safe!");
        }
      });
    },
    addNew() {
      window.location.href = URLProject + '/addNew';
    }
  }
};
</script>
