<template lang="pug">
  <div class="detail-render import-object">
    <div class="banner-info">
      <div class="banner">
        <div class="bg-white">
          <div class="list-group list-group-flush">
            <!-- <div class="cursor-pointer list-group-item list-group-item-action" :class="{active: filterCat === ''}" @click="handleFilterCat('')">All</div> -->
            <div class="cursor-pointer list-group-item-action" v-for="item in categories" @click="handleFilterCat(item.id)">
              <img :src="item.icon" :alt="item.name" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-info" v-for="cat in categories" v-if="cat.id === filterCat">
      <div @click="handleFilterCat('')" class="title"><i class="fas fa-chevron-left"></i>{{cat.name}}</div>
      <div class="row object-list" > 
        <div class="col-md-6 object-item-content" v-for="item in objects" v-if="item.category_id === filterCat" @click="importObjectItem(item)">
          <div class="object-item-img">
            <img :src="item.image" :alt="item.name" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { URLPublic } from "../config";
export default {
  props: ["toggleShowObjectImport", "categories", "objects", "importObjectItem", "templateRoom", "importTemplateRoom"],
  mounted() {
    // console.log("Component mounted data.");
  },
  data() {
    console.log(this.templateRoom);
    return {
      filterCat: '',
      view: '',
      URLPublic
    };
  },
  methods: {
    handleFilterCat: function(cat) {
      this.filterCat = cat;
      this.view = '';
      console.log(this.filterCat);
    },
    handleChangeView: function(view) {
      this.view = view;
    }
  }
};

</script>
